name: manually build package for freebsd

on:
  workflow_dispatch:
    inputs:

      package-name:
        description: input the package name to be built
        required: true

      target-arch:
        description: choose a target arch to be built for
        type: choice
        options:
          - amd64

      freebsd-version:
        description: choose a freebsd version to be built with
        type: choice
        options:
          - '14.1'
          - '14.0'
          - '13.3'
          - '13.2'
          - '13.1'
          - '13.0'
          - '12.4'
          - '12.3'
          - '12.2'
          - '12.1'
          - '12.0'
          - '11.4'
          - '11.3'
          - '11.2'
          - '11.1'
          - '11.0'

      profile:
        description: choose a build profile
        type: choice
        options:
          - release
          - debug

      log-level:
        description: choose a log-level
        type: choice
        options:
          - ''
          - '-q'
          - '-v'
          - '-x'

      pack-type:
        description: choose a pack type
        type: choice
        options:
          - tar.xz
          - tar.lz
          - tar.gz
          - tar.bz2
          - zip

      static:
        description: create fully statically linked executables
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: cross-platform-actions/action@v0.25.0
        with:
          operating_system: freebsd
          version: ${{ github.event.inputs.freebsd-version }}
          shell: bash
          run: |
            run() {
              printf "\033[0;35m==>\033[0m \033[0;32m%b\n\033[0m" "$*"
              eval "$@"
            }


            run sudo pkg update
            run sudo pkg install -y gcc curl libnghttp2

            run curl -LO https://raw.githubusercontent.com/leleliu008/ppkg/master/ppkg
            run chmod a+x ppkg

            run ./ppkg setup --syspm
            run ./ppkg update

            if [ ${{ github.event.inputs.static }} = true ] ; then
              FSLE=--static
            else
              FSLE=
            fi

            run ./ppkg install ${{ github.event.inputs.package-name }} --profile=${{ github.event.inputs.profile }} ${{ github.event.inputs.log-level }} $FSLE
            run ./ppkg pack    ${{ github.event.inputs.package-name }} -t ${{ github.event.inputs.pack-type }}

      - run: pwd
      - run: ls

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.package-name }}---freebsd-amd64.${{ github.event.inputs.pack-type }}
          path: '*.${{ github.event.inputs.pack-type }}'
