name: manually build package for linux-glibc

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:

      package-name:
        description: input the package name to be built
        required: true

      target-arch:
        description: choose a target arch to be built for
        type: choice
        options:
          - x86_64
          - aarch64
          - ppc64le
          - riscv64
          - s390x
          - armhf

      build-onos:
        description: choose a os would be built on
        type: choice
        options:
          - ubuntu:24.04
          - ubuntu:23.10
          - ubuntu:23.04
          - ubuntu:22.10
          - ubuntu:22.04
          - ubuntu:20.10
          - ubuntu:20.04
          - ubuntu:18.10
          - ubuntu:18.04
          - ubuntu:16.04
          - ubuntu:14.04

      profile:
        description: choose a build profile
        type: choice
        options:
          - release
          - debug

      log-level:
        description: choose a log-level
        type: choice
        options:
          - ''
          - '-q'
          - '-v'
          - '-x'

      bundle-type:
        description: choose a bundle type
        type: choice
        options:
          - .tar.xz
          - .tar.lz
          - .tar.gz
          - .tar.bz2
          - .zip
          - .AppImage

      syspm:
        description: use system package manager instaed of uppm
        type: boolean
        default: false

      static:
        description: create fully statically linked executables
        type: boolean
        default: false

      portable:
        description: bundle all needed libraries into the archive
        type: boolean
        default: false

      publish:
        description: publish as GitHub release
        type: boolean
        default: false


jobs:

  base:

    runs-on: ubuntu-latest

    steps:
      - id:  prepare
        run: |
          if [ ${{ github.event.inputs.target-arch }} = aarch64 ] ; then
            RUNNER=ubuntu-24.04-arm
          else
            RUNNER=ubuntu-latest
          fi

          printf 'RUNNER=%s\n' "$RUNNER" >> "$GITHUB_OUTPUT"

    outputs:
      runner: ${{ steps.prepare.outputs.RUNNER }}


  build:

    needs: base

    runs-on: ${{ needs.base.outputs.runner }}


    steps:
      - name: create run.sh
        run: |
          if [ ${{ github.event.inputs.static }} = true ] ; then
            FSLE=--static
          else
            FSLE=
          fi

          if [ ${{ github.event.inputs.portable }} = true ] ; then
            PORTABLE=--portable
          else
            PORTABLE=
          fi

          if [ ${{ github.event.inputs.syspm }} = true ] ; then
            SYSPM=--syspm
          else
            SYSPM=
          fi


          cat > run.sh <<EOF
          set -e

          COLOR_GREEN='\033[0;32m'        # Green
          COLOR_PURPLE='\033[0;35m'       # Purple
          COLOR_OFF='\033[0m'             # Reset

          echo() {
              printf '%b\n' "\$*"
          }

          run() {
              echo "\${COLOR_PURPLE}==>\${COLOR_OFF} \${COLOR_GREEN}\$@\${COLOR_OFF}"
              eval "\$*"
          }

          run uname -a

          export GITHUB_ACTIONS=true

          case ${{ github.event.inputs.build-onos }} in
            ubuntu:*)
              run apt -y update
              run apt -y install curl xz-utils g++
              ;;
          esac

          run curl -LO https://raw.githubusercontent.com/leleliu008/ppkg/master/ppkg
          run chmod a+x ppkg

          run ./ppkg setup $SYSPM
          run ./ppkg update
          run ./ppkg install ${{ github.event.inputs.package-name }} --profile=${{ github.event.inputs.profile }} ${{ github.event.inputs.log-level }} $FSLE

          if [ -f           ~/.ppkg/installed/linux-glibc-${{ github.event.inputs.target-arch }}/sudo-rs/bin/sudo ] ; then
            chown root:root ~/.ppkg/installed/linux-glibc-${{ github.event.inputs.target-arch }}/sudo-rs/bin/sudo
            chmod 4755      ~/.ppkg/installed/linux-glibc-${{ github.event.inputs.target-arch }}/sudo-rs/bin/sudo
          fi

          run ./ppkg bundle  ${{ github.event.inputs.package-name }} ${{ github.event.inputs.bundle-type }} $PORTABLE
          EOF

          chmod +x run.sh

      - name: execute run.sh in the docker container
        run: |
          case ${{ github.event.inputs.target-arch }} in
            x86_64)  IMAGE='${{ github.event.inputs.build-onos }}'         ;;
            aarch64) IMAGE='arm64v8/${{ github.event.inputs.build-onos }}' ;;
            ppc64le) IMAGE='ppc64le/${{ github.event.inputs.build-onos }}' ;;
            riscv64) IMAGE='riscv64/${{ github.event.inputs.build-onos }}' ;;
            s390x)   IMAGE='s390x/${{ github.event.inputs.build-onos }}'   ;;
          esac

          case ${{ github.event.inputs.target-arch }} in
            x86_64|aarch64) ;;
            *)
              # https://github.com/multiarch/qemu-user-static
              docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
          esac

          docker run -v $PWD:$PWD -w $PWD "$IMAGE" sh run.sh

      - run: ls

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.package-name }}---linux-glibc-${{ github.event.inputs.target-arch }}.${{ github.event.inputs.profile }}${{ github.event.inputs.bundle-type }}
          path: '*${{ github.event.inputs.bundle-type }}'


  publish:
    needs: build
    if: github.event.inputs.publish == 'true'

    runs-on: ubuntu-latest

    env:
      GH_TOKEN: ${{ github.token }}

    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: '*'
          path: .
          merge-multiple: true

      - run: ls -a

      # to avaid: failed to run git: fatal: not a git repository (or any of the parent directories): .git
      - run: git -c init.defaultBranch=master init
      - run: git remote add origin ${{ github.repositoryUrl }}

      - run: sha256sum *${{ github.event.inputs.bundle-type }} > notes.md

      - run: |
          TAGNAME="$(ls *${{ github.event.inputs.bundle-type }})"
          gh release create "$TAGNAME" *${{ github.event.inputs.bundle-type }} --title "$TAGNAME" --notes-file notes.md
